# **#37 Seleksi baris dengan banyak kriteria**

**Import Modules**

In [3]:
import pandas as pd

print(pd.__version__)

2.2.2

**Persiapan Data Frame**

In [ ]:
#Mengadopsi dataframe klasik, yaitu titanic dataset
df = pd.read_csv('./data/titanicfull.csv')
df.head()

**Seleksi baris dengan banyak kriteria**

- Untuk menyeleksi baris kita dapat menggunakan format +/- seperti ini df[] dan format untuk kriteria (df['sex']=='female')
- Tanda kurung diluar harus ada. Jika tidak, akan muncul error
- Pemisah untuk setiap kriteria menggunakan tanda dan ('&')
- Untuk mempermudah pembacaan code kita bisa memisahkan setiap kriteria dalam satu baris
- Kita juga bisa mememasukkan kriteria kedalam sebuah variabel terlebih dahulu.-

In [ ]:
df[(df['sex']=='female') & (df['age']>=60) & (df['embarked']=='S') & (df['survived']==1)]

In [ ]:
df[
    (df['sex']=='female') & 
    (df['age']>=60) & 
    (df['embarked']=='S') & 
    (df['survived']==1)
]

In [ ]:
kr1 = df['sex']=='female'
kr2 = df['age']>=60
kr3 = df['embarked']=='S'
kr4 = df['survived']==1

df[kr1 & kr2 & kr3 & kr4]

# **#38 Parameter header dan skiprows pada read_csv**

**Import Modules**

In [12]:
import pandas as pd

print(pd.__version__)

2.2.2

**Persiapan Data Frame**

- Pertama kita akan membaca file iris error. Dataset ini memiliki letak header yang salah
- Untuk menentukan posisi header kita bisa menambahkan parameter header
- Parameter skiprow digunakan untuk melewati baris yang diinginkan

In [ ]:
df = pd.read_csv('./data/iris_error.csv')
df.head(8)

In [ ]:
df = pd.read_csv('./data/iris_error.csv', header=2, skiprows=[5,6])
df.head()

# **#39 Mengacak urutan baris pada Data Frame**

**Import Modules**

In [17]:
import pandas as pd
import numpy as np 

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

**Persiapan Data Frame**

In [20]:
#Membuat dataframe dengan 6 baris dan 5 kolom yang memiliki kolom A,B,C,D,E dan memiliki value random
n_rows = 6
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 5, size=(n_rows, n_cols)), 
                  columns=cols)
df

   A  B  C  D  E
0  1  2  2  4  3
1  4  3  2  1  2
2  4  1  2  3  1
3  2  3  2  4  4
4  2  4  1  2  4
5  3  3  3  3  2

**Mengacak urutan baris pada Data Frame**

- Kita dapat memanfaatkan fungsi sample()
- Parameter frac/ fraction yang bernilai 1 memiliki arti kita akan melakukan sampling secara penuh. Hany saja urutan pengambilannya akan diacak berdasarkan random-state number yang telah kita tentukan, agar nomor index tidak ikut teracak kita dapat menambahkan reset_index(drop=true)

In [23]:
df.sample(frac=1.0, random_state=1)

   A  B  C  D  E
2  4  1  2  3  1
1  4  3  2  1  2
4  2  4  1  2  4
0  1  2  2  4  3
3  2  3  2  4  4
5  3  3  3  3  2

In [25]:
df.sample(frac=1.0, random_state=1).reset_index(drop=True)

   A  B  C  D  E
0  4  1  2  3  1
1  4  3  2  1  2
2  2  4  1  2  4
3  1  2  2  4  3
4  2  3  2  4  4
5  3  3  3  3  2

# **#40 Mengakses sekelompok data dengan get_group()**

**Import Modules**

In [29]:
import pandas as pd

print(pd.__version__)

2.2.2

**Persiapan Data Frame**

In [ ]:
df = pd.read_csv('./data/titanicfull.csv')
df.head()

**Mengakses sekelompok data yang sudah terkelompok dengan get_group()**

- Pertama kita akan mengolompokkan dataset ini berdasarkan sex dan dimasukkan kedalam variabel grouped_df
- Untuk mengakses group yang memiliki nilai female kita bisa menggunakan fungsi get_group([value])

In [ ]:
grouped_df = df.groupby('sex')

In [ ]:
grouped_df.get_group('female').head(10)

In [ ]:
grouped_df = df.groupby('survived')

In [ ]:
grouped_df.get_group(1).head(10)