# **#21 Agregasi pada Data Frame dengan agg()**

**Import Modules**

In [3]:
import pandas as pd

print(pd.__version__)

2.2.2

**Persiapan Data Frame**

In [ ]:
#Membaca data dari file CSV dengan menggunakan fungsi read_csv dari pandas
#Data yang dibaca disimpan dalam dataframe 'df'
df = pd.read_copy('./data/Iris.csv')
df

**Mengenal groupby() dan fungsi agregasi**

- Fungsi agregasi adalah fungsi yang dikenakan pada sekelompok data dan erat kaitannya dengan pengelompokkan data groupby
- Pada contoh dibawah ini dataframe dikelompokkan berdasarkan species dan kolom PetalLengthCm-nya di kenakan fungsi agregasi (count, mean, dan median)

In [ ]:
#Menggunakan groupby pada kolom 'Species' dan menghitung jumlah data pada kolom 'PetalLengthCm' untuk setiap kategori Species.
df.groupby('Species')['PetalLengthCm'].count().to_frame()

In [ ]:
#Menggunakan groupby pada kolom 'Species' dan menghitung rata-rata nilai pada kolom 'PetalLengthCm' untuk setiap kategori Species.
df.groupby('Species')['PetalLengthCm'].mean().to_frame()

In [ ]:
#Menggunakan groupby pada kolom 'Species' dan menghitung nilai median pada kolom 'PetalLengthCm' untuk setiap kategori Species.
df.groupby('Species')['PetalLengthCm'].median().to_frame()

**Agregasi dengan agg()**

In [ ]:
#Menggunakan groupby pada kolom 'Species' dan menerapkan beberapa fungsi agregasi seperti count, mean, dan median pada kolom 'PetalLengthCm'.
df.groupby('Species')['PetalLengthCm'].agg(['count', 'mean', 'median'])

**Agregasi dengan describe()**

In [ ]:
#Menggunakan groupby pada kolom 'Species' dan menerapkan fungsi describe pada kolom 'PetalLengthCm'.
#Fungsi describe akan memberikan ringkasan statistik seperti count, mean, std, min, 25%, 50% (median), 75%, dan max.
df.groupby('Species')['PetalLengthCm'].describe()

# **#22 Memantau penggunaan memory suatu dataframe**

**Import Modules**

In [18]:
import pandas as pd

print(pd.__version__)

2.2.2

**Persiapan Data Frame**

In [ ]:
#Membaca file CSV 'titanicfull.csv' dan menampilkan lima baris pertama dari DataFrame.
df_titanic = pd.read_csv('./data/titanicfull.csv')
df_titanic.head()

In [ ]:
df_iris = pd.read_csv('./data/Iris.csv')
df_iris.head()

**Memantau penggunaan memory suatu Data Frame**

In [ ]:
#Menampilkan informasi mengenai DataFrame 'df_titanic', termasuk penggunaan memori secara mendalam.
df_titanic.info(memory_usage = 'deep')

In [ ]:
df_iris.info(memory_usage = 'deep')

**Memantau penggunaan memory untuk setiap kolom dari suatu data frame**

- Jika kita ingin memantau penggunaan memory tidak di tingkat dataframe, tetapi di setiap kolomnya kita bisa menggunakan fungsi memory_usage() dengan nilai deep = True
- Satuan dalam pemantauan ini adalah kb

In [ ]:
df_titanic.memory_usage(deep=True)

In [ ]:
df_iris.memory_usage(deep=True)

# **#23 Seleksi baris pada Data Frame dengan Query**

**Import Modules**

In [27]:
import pandas as pd

print(pd.__version__)

2.2.2

**Persiapan Data Frame**

In [30]:
d = {'kolom_satu':[1, 2, 3, 4, 5],
     'kolom_dua':[10, 20, 30, 40, 50]}
df = pd.DataFrame(d)
df

   kolom_satu  kolom_dua
0           1         10
1           2         20
2           3         30
3           4         40
4           5         50

**Seleksi baris dengan query()**

In [33]:
#Melakukan query pada DataFrame 'df' untuk memfilter baris-baris di mana nilai kolom 'kolom_satu' lebih besar dari 2.
df.query('kolom_satu > 2')

   kolom_satu  kolom_dua
2           3         30
3           4         40
4           5         50

In [ ]:
df.query('`kolom dua` > 30') #Lebih dari 30

# **#24 UTC dan konversi zona waktu (time zone) pada Python Pandas**

**Import Modules**

In [42]:
import pandas as pd

print(pd.__version__)

2.2.2

**Persiapan Series**

- Kali ini kita menggunakan pandas series
- Range disini memiliki step 3600 seconds = 1 jam
- Angka disini mengacu pada unix epoch time
- Series disini akan diubah menjadi datetime dengan menggunakan to_datetime()

In [45]:
#Membuat Series dengan rentang waktu menggunakan nilai timestamp dalam satuan detik.
s = pd.Series(range(1591683521, 1592201921, 3600))

# Mengonversi nilai timestamp dalam Series menjadi objek datetime menggunakan unit waktu 's' (detik).
s = pd.to_datetime(s, unit='s')

# Menampilkan lima baris pertama dari Series yang sudah diubah.
s.head()

0   2020-06-09 06:18:41
1   2020-06-09 07:18:41
2   2020-06-09 08:18:41
3   2020-06-09 09:18:41
4   2020-06-09 10:18:41
dtype: datetime64[ns]

**Pengaturan zona waktu (time zone)**

In [48]:
s = s.dt.tz_localize('UTC')
s.head()

0   2020-06-09 06:18:41+00:00
1   2020-06-09 07:18:41+00:00
2   2020-06-09 08:18:41+00:00
3   2020-06-09 09:18:41+00:00
4   2020-06-09 10:18:41+00:00
dtype: datetime64[ns, UTC]

In [50]:
s = s.dt.tz_convert('Asia/Jakarta')
s.head()

0   2020-06-09 13:18:41+07:00
1   2020-06-09 14:18:41+07:00
2   2020-06-09 15:18:41+07:00
3   2020-06-09 16:18:41+07:00
4   2020-06-09 17:18:41+07:00
dtype: datetime64[ns, Asia/Jakarta]

In [52]:
s = s.dt.tz_convert('Australia/Hobart')
s.head()

0   2020-06-09 16:18:41+10:00
1   2020-06-09 17:18:41+10:00
2   2020-06-09 18:18:41+10:00
3   2020-06-09 19:18:41+10:00
4   2020-06-09 20:18:41+10:00
dtype: datetime64[ns, Australia/Hobart]